<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="controls">
        <section id="projectName" class="w3-bar">
            <label><b>{{ project != null ? project.name : "Create or open a project to start" }}</b></label>
        </section>
        <div v-if="project != null">
        <section id="createNew">
            <button v-for="elementType in elementTypes" :key="elementType">
                <img class="bright" draggable="false" @click="addElement(elementType)" :src="'icons/element_' + elementType + '.png'">
            </button>
        </section>
        <section>
            <div class="w3-bar">
                <span class="w3-left">EXPLORER</span>
            </div>
            <hr/>
            <ul class="w3-ul w3-hoverable">
                <li v-for="element in allElements()" class="w3-border-0" :key="element" @click="$emit('select-element', element)" @dblclick="setEditComponent(element)">
                    <span v-if="editComponent!=element">{{ element.name + ' ['+ element.type.toUpperCase() + ']' }}</span>
                    <input ref="name" v-else
                    @focusout.stop="setEditComponent(null)"
                    @blur="setEditComponent(null)"
                    @keypress.enter.stop="setEditComponent(null)" v-model="element.name">
                </li>
            </ul>
        </section>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: "Controls",
    data() {
        return {
            editComponent : null,
            processing: false,
            elementTypes: [ 
                'environment',
                'resource',
                'system',
                'component',
                'interface',
                'service']
        }
    },
    computed: { 
        ...mapState(['project'])
    },
    emits: [ 'select-element' ],
    methods: {
        addElement(elementType) {         
            this.$store.commit('newElement', { parent: null, type: elementType });
        },
        allElements: function() {
            return [
                ...this.project.elements
            ].sort(function(element1, element2) {
                return element1.name > element2.name;
            });
        },
        setEditComponent(component) {
            let changedComponent = this.editComponent;
            this.editComponent = component;
            if (component != null) {
                this.$nextTick(function () {
                    this.$refs.name[0].focus();
                });
            } else if (changedComponent != null) {
                this.$store.commit('updateElement', { element: changedComponent, property: 'name', value: changedComponent.name });
            }
        },
    }
};
</script>

<style scoped>
#controls {
    width: 300px;
    color: var(--fg-explorer);
    background-color: var(--bg-explorer);
}
button {
    width: 60px;
    padding: 0;
    margin: 0px 0px;
}
hr {
    margin-top: 3px;
    margin-bottom: 10px;
}
#projectName {
    color: var(--fg-emph);
    background-color: var(--bg-emph);
    padding: 4px;
}
li {
    padding: 5px;
    user-select: none;
}
span {
    user-select: none;
}
input {
    width: 100%;
    padding: 0px 2px;
    border: 1px solid blue;
    outline: 0px none;
}
input:focus, input:selection {
    width: 100%;
    padding: 0px 2px;
    border: 1px solid blue;
    outline: 0px none;
}
#createNew {
    display:flexbox;
    background-color: var(--bg-emph);
}
#createNew > button {
    width:50px;
    height:50px;
    cursor:pointer;
    background-color: var(--bg-emph);
}
img {
    padding:8px;
    max-width:100%;
    max-height:100%;
}
img:hover {
    filter: invert(100%);
}  
.bright {
    filter: invert(50%);
}
.white {
    filter: invert(100%);
}

</style>
