<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="elementsTab" class="w3-bar">
        <button
            v-for="element in openedElements"
            :key="element"
            @click="$emit('select-element', element)"
            class="w3-button w3-bar-item tabItem"
            v-bind:class="{ 'selectedTabItem': selectedElement == element }"
        >{{ element.name }}
            <button 
                class="closeButton w3-button w3-margin-left"
                @click.stop="$emit('close-element', element)"
            >&times;</button>
        </button>
    </div>
</template>

<script>
export default {
    name: "EnvironmentTab",
    props: ["openedElements", 'selectedElement'],
    emits: ["select-element", "close-element"],
};
</script>

<style scoped>
.closeButton {
    padding: 0px 8px;
}
.tabItem {
    color: var(--fg-tab-item);
    background-color: var(--bg-tab-item);   
}
.selectedTabItem {
    color: var(--fg-tab-selected-item);
    background-color: var(--bg-tab-selected-item);   
}
#elementsTab {
    background-color: var(--bg-tab-bar);
}
</style>