<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="dialog" v-if="!userLoggedIn" class="w3-modal w3-show">
        <div class="w3-modal-content" style="max-width:600px">
            <header class="w3-bar w3-blue">
                <span class="w3-bar-item"><b>Login and Registration</b></span>
            </header>
            <main class="w3-container">
                <section class="w3-section">
                    <p>Welcome to the Low-Code Microservice Architecture Development and Operation Environment.</p>
                    <p><em>Please enter username and password to enter system or register as new user.</em></p>
                    </section>
                <section class="w3-row w3-section">
                    <label for="username" class="w3-col m3"><b>Email:</b></label>
                    <input id="username" v-model="username" class="w3-col m9 w3-input w3-border">
                </section>
                <section class="w3-row w3-section">
                    <label for="password" class="w3-col m3"><b>Password:</b></label>
                    <input id="password" v-model="password" class="w3-col m9 w3-input w3-border" type="password">
                </section>
                <section class="w3-row w3-section">
                    <p v-if="false" class="w3-text-red">Incorrect email or password speicifed, please try again.</p>
                </section>
            </main>
            <footer class="w3-container">
                <section class="w3-row w3-section">
                    <button class="w3-round w3-button w3-left m2 w3-orange" @click="register()">Register as new user</button>
                    <button class="w3-round w3-button w3-right m2 w3-green" @click="login()">Login</button>
                </section>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: 'LoginDialog',
    props: ['userLoggedIn' ],
    emits: [ 'login-successful' ],
    data() { return {
        username: "",
        password: "",

    }},
    methods: {
        register() {
            this.postData('http://localhost:3000/users/register', { email: this.username, password: this.password })
            .then(console.log('success'), console.log('fail'))
            .catch(err => console.log(err));
        },
        login() {
            this.postData('http://localhost:3000/users/login', { email: this.username, password: this.password })
            .then(ok => console.log('success: ' + ok), err => console.log('fail: ') + err)
            .catch(err => console.log(err));
        },
        async postData(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            });
            if (response.ok) {
                return response.json();
            } else {
                throw response;
            }
        },
    }
}
</script>

<style scoped>
</style>
