<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <WelcomePage>
                <div class="w3-padding">
                    <p class="w3-xlarge w3-bold"><b>Login</b></p>
                    <div class="w3-row">
                        <div class="w3-col m3">
                            <label class="w3-margin-bottom" for="email">Email:</label>
                        </div>
                        <div class="w3-col m9">
                            <input v-model="email" id="email" class="w3-margin-bottom" style="width:100%" name="email" type="email" required>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m3">
                            <label class="w3-margin-bottom" for="password">Password:</label>
                        </div>
                        <div class="w3-col m9">
                            <input v-model="password" id="password" class="w3-margin-bottom" style="width:100%" name="password" type="password" required>
                        </div>
                    </div>
                    <p class="w3-text-red" v-if="errorMessage != ''">{{ errorMessage }}</p>
                    <div class="w3-row">
                        <div class="w3-col">
                           <button class="w3-margin-bottom w3-round w3-button w3-light-blue" style="width:100%" @click="login()">Login</button>
                        </div>
                    </div>  
                    <p class="w3-xlarge w3-bold"><b>Create new account</b></p>
                    <p>Not account yet? Click utton below to sign up:</p>
                    <div class="w3-row">
                        <div class="w3-col">
                           <router-link to="/register" class="w3-margin-bottom w3-round w3-button w3-amber" style="width:100%">Create account</router-link>
                        </div>
                    </div> 
                </div>
    </WelcomePage>
</template>

<script>
import WelcomePage from './WelcomePage.vue';

export default {
    name: 'LoginPage',
    components: {
        WelcomePage
    },
    data() { return {
        email: "",
        password: "",
        errorMessage: ""

    }},
    methods: {
        login() {
            this.postData('http://localhost:3003/users/login', { email: this.email, password: this.password })
            .then(response => {
                if (response.jwt != null && response.jwt !== 'null') {
                    sessionStorage.setItem('jwt', response.jwt);                
                    this.$router.push('/')
                } else {
                    sessionStorage.removeItem('jwt');
                    this.$router.push('/login')
                }
            }, response => {
                response.json().then(body => { this.errorMessage = body.message });
            })
            .catch(err => console.log('exception: ' + err));
        },
        async postData(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            if (response.ok) {
                return response.json();
            } else {
                throw response;
            }
        },
    }
}
</script>
<style scoped>
    #cont * {
        background-color: #ffffff;
    }
    input{
     border-radius: 5px;
     border: 2px solid #a0d18c;
     color: #a0d18c;
    }
    
input:focus {
     outline: none;
     border: 2px solid #2d9fd9;
     color: #2d9fd9;
}
</style>
