<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="main">
        <MenuBar
            id="menuBar"
            @show-dialog="openDialog($event)"
            @copy-selection="$store.commit('copy')"
            @cut-selection="$store.commit('cut')"
            @paste-selection="$store.commit('paste')"
            @delete-selection="$store.commit('delete')"
            @close-project="closeProject($event)"
        />
        <Controls id="controls" @select-element="setSelectedElement($event)"/>
        <EnvironmentTab
            id="elementsTab"
            v-if="openedElements.size > 0"
            :openedElements="openedElements"
            :selectedElement="selectedElement"
            @select-element="setSelectedElement($event)"
            @close-element="closeElement($event)"
        />
        <DrawArea 
            id="drawArea"
            v-if="selectedElement != null"
            :selectedElement="selectedElement"
            :zoom="zoom"
        />
        <StatusBar
            id="statusBar"
            :zoom="zoom"
            @update-zoom="zoom = $event"
        />
        <ProjectNewDialog
            v-if="showDialog == 'projectNew'"
            @close="closeDialog()"
        />
        <ProjectOpenDialog v-if="showDialog == 'projectOpen'" @close="closeDialog()"/>
        <ProjectEditPropertiesDialog v-if="showDialog == 'projectProperties'" @close="closeDialog()"/>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import MenuBar from './MenuBar.vue';
import Controls from './Controls.vue';
import StatusBar from './StatusBar.vue';
import DrawArea from './DrawArea.vue';
import EnvironmentTab from './EnvironmentTab.vue';
import ProjectNewDialog from './dialogs/ProjectNewDialog.vue';
import ProjectOpenDialog from './dialogs/ProjectOpenDialog.vue';
import ProjectEditPropertiesDialog from './dialogs/ProjectEditPropertiesDialog.vue';

const STORE_CHANGES_TIMEOUT = 200;
const ANALYSIS_TIMEOUT = 5000;

export default {
    name: 'Main',
    props: ['name'],
    components: {
        MenuBar,
        Controls,
        StatusBar,
        DrawArea,
        EnvironmentTab,
        ProjectNewDialog,
        ProjectOpenDialog,
        ProjectEditPropertiesDialog,
    },
    computed: mapState(['project']),
    data() {
        return {
            zoom: 100,
            selectedElement: null,
            openedElements: new Set(),
            showDialog:null,
            timer: null,
            analysisTimer: null,
        }
    },
    beforeMount () {
        this.timer = setInterval(this.saveChanges, STORE_CHANGES_TIMEOUT);
        this.analysisTimer = setInterval(this.updateAnalysis, ANALYSIS_TIMEOUT);
    },
    beforeUnmount () {
        clearInterval(this.timer);
    },
    methods: {
        setCurrentProject() {
            this.showDialog = null;
            this.selection = null;
            this.openedElements = new Set();
        },
        getSelection() {
            return this.selection;
        },
        setSelectedElement(element) {
            if (!this.openedElements.has(element)) {
                this.openedElements.add(element);
            }
            this.selectedElement = element;
        },
        closeElement(element) {
            this.openedElements.delete(element);
            if (this.selectedElement == element && this.openedElements.size > 0) {
                this.selectedElement = this.openedElements.values().next().value;
            } else {
                this.selectedElement = null;
            }
        },
        openDialog(name) {
            this.showDialog = name;
        },
        closeDialog() {
            this.showDialog = null;
        },
        saveChanges() {
            this.$store.dispatch('store');
        },
        updateAnalysis() {
            this.$store.dispatch('performAnalysis');
        },
        closeProject() {
            this.selectedElement = null;
            this.openedElements.clear(),
            this.$store.commit('closeProject');
        }
    }
}
</script>

<style>
    #main {
        width: 100vw;
        height: 100%;
        min-height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
        display: grid;
        grid-template-rows: max-content max-content 1fr max-content;
        grid-template-columns: max-content 1fr;
        grid-template-areas: "menuBar menuBar"
                              "controls elementsTab"
                              "controls drawArea"
                              "statusBar statusBar";
    }
    #drawArea {
        position: relative;
        grid-area: drawArea;
        overflow: hidden;
        width:100%;
        height:100%;
        color: white;
    }
    #menuBar {
      grid-area: menuBar;
    }
    #controls {
        grid-area: controls;
        width: 100%;
        height: 100%;
    }
    #statusBar {
        grid-area: statusBar;
    }
</style>
