<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <nav class="w3-bar">
        <div class="w3-dropdown-hover">
            <button class="w3-button">Project</button>
            <div id="project" class="w3-dropdown-content w3-bar-block w3-card-4">
                <button @click="$emit('show-dialog', 'projectNew')" class="w3-bar-item w3-button">New</button>
                <button @click="$emit('show-dialog', 'projectOpen')" class="w3-bar-item w3-button">Open</button>
                <button :disabled="!$store.getters.hasProject" @click="$emit('show-dialog', 'projectProperties')"
                    class="w3-bar-item w3-button">Edit Properties</button>
                <button :disabled="!$store.getters.hasProject" @click="$emit('close-project')"
                    class="w3-bar-item w3-button">Close</button>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Edit</button>
            <div id="project" class="w3-dropdown-content w3-bar-block w3-card-4">
                <button :disabled="!canCopyOrCut" class="w3-bar-item w3-button" @click="$emit('cut-selection')">Cut</button>
                <button :disabled="!canCopyOrCut" class="w3-bar-item w3-button" @click="$emit('copy-selection')">Copy</button>
                <button :disabled="!canPaste" class="w3-bar-item w3-button" @click="$emit('paste-selection')">Paste</button>
                <button :disabled="!canDelete" class="w3-bar-item w3-button" @click="$emit('delete-selection')">Delete</button>
            </div>
        </div>
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button">User</button>
            <div id="user" class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
                <a class="w3-bar-item w3-button" @click="this.logout()">Logout</a>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'Menubar',
    props: ['selection'],
    emits: [
        'show-dialog',
        'close-project', 
        'cut-selection',
        'copy-selection',
        'paste-selection',
        'delete-selection'
    ],
    computed: {
        canPaste() {
            return this.$store.getters.canPaste;
        },
        canDelete() {
            return this.$store.getters.canDelete;
        },
        canCopyOrCut() {
            return this.$store.getters.canCopyOrCut;
        }
    },
    methods: {
        logout() {
            window.sessionStorage.removeItem('jwt');
            this.$router.push('/login')
        },
    }

}
</script>

<style scoped>
nav {
    color: var(--fg-mainmenu);
    background-color: var(--bg-mainmenu);
}
</style>
