<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <footer id="statusBar" class="w3-bar">
      <span class="w3-bar-item w3-right"></span>
    </footer>
</template>

<script>
export default {
  name: 'StatusBar',
  props: ['zoom'],
  emits: ['update-zoom']
}
</script>

<style scoped>
footer { 
  color: var(--fg-statusbar);
  background-color: var(--bg-statusbar);
}
</style>
