<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <WelcomePage>
        <div class="w3-padding">
            <p class="w3-xlarge w3-bold"><b>Please enter verfication code:</b></p>
            <p>Please enter your contact details below. Before you can use your new account, you must validate the account.
                To do so enter the validation code sent to at address {{ email }}:</p>
            <div class="w3-row">
                <div class="w3-col m3">
                    <label class="w3-margin-bottom" for="code">Code:</label>
                </div>
                <div class="w3-col m9">
                    <input v-model="token" id="code" class="w3-margin-bottom" style="width:100%" name="code" type="text" required>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col">
                    <button class="w3-margin-bottom w3-round w3-button w3-light-blue" style="width:100%" @click="validate()">Validate account</button>
                </div>
            </div>  
        </div>
    </WelcomePage>
</template>

<script>
import WelcomePage from './WelcomePage.vue';

export default {
    name: 'VerificationPage',
    components: {
        WelcomePage
    },
    data() { return {
        email: this.$route.query.email,
        token: this.$route.query.token,

    }},
    methods: {
        validate() {
            this.postData('http://localhost:3000/users/validate', { email: this.email, token: this.token })
            .then(this.$router.push('/success'), console.log('fail'))
            .catch(err => console.log(err));
        },
        cancel() {
            
        },
        async postData(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            });
            return response.json();
        },
    }
}
</script>
<style scoped>
    #cont * {
        background-color: #ffffff;
        
    }
    input{
     border-radius: 5px;
     border: 2px solid #a0d18c;
     color: #a0d18c;
    }
    
input:focus {
     outline: none;
     border: 2px solid #2d9fd9;
     color: #2d9fd9;
}
</style>
