<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div>
        <img id="image" src="cogwheel.svg"/>
    </div>
</template>

<script>
export default {
    name: 'WaitSpin',    
}
</script>
<style scoped>
#image {
    width:1em;
    height:1em;
    animation:spin 4s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }
</style>
