<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="cont" style="width: 100%; background: #9dbb61">
        <header style="width: 100% background: #9dbb61">
            <img style="width: 100%" src="header.svg"/>
        </header>
        <main style="height:100%">
            <section style="width:100%; height:50px">
                <br>
            </section>
            <div class="w3-row" style="height:100%">
            <section style="height:100%;" class="w3-col m1 w3-hide-small">
                <p></p>
            </section>
            <section class="w3-col m4">
                <img class="w3-padding" style="width:100%;object-fit:fit" src="logo_nofont.svg">
            </section>
            <section style="height:100%;"  class="w3-col m1 w3-hide-small">
                <p></p>
            </section>
            <section class="w3-col m1 w3-hide-small">
                <p></p>
            </section>
            <section class="w3-col m4">
                <slot>
                    This will only be displayed if there is no content
                    to be distributed.
                </slot>
            </section>
            <section class="w3-col m1 w3-hide-small">
                <p></p>
            </section>          
            </div>        
            <section style="width:100%; height:50px">
                <br>
            </section>
        </main>

        <footer style="width: 100%">
            <img style="width: 100%" src="footer.svg"/>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'WelcomePage',
}
</script>
<style scoped>
    #cont * {
        background-color: #ffffff;
        
    }
    input{
     border-radius: 5px;
     border: 2px solid #a0d18c;
     color: #a0d18c;
    }
    
input:focus {
     outline: none;
     border: 2px solid #2d9fd9;
     color: #2d9fd9;
}
</style>
