@font-face {
    font-family: RobotoCondensed;
    src: url(../RobotoCondensed-Regular.ttf);
}

:root {
    --resizeButtonSize: 5px;
    --color-button: rgb(255, 255, 255);

    --fg-mainmenu: rgb(51, 51, 51);
    --bg-mainmenu: rgb(221, 221, 221);

    --fg-tab-selected-item: rgb(187, 85, 3);
    --bg-tab-selected-item: rgb(255, 255, 255);
    --fg-tab-item: rgb(106, 106, 106);
    --bg-tab-item: rgb(236, 236, 236);
    --bg-tab-bar: rgb(243, 243, 243);

    --bg-toolbar: rgb(221, 221, 221);

    --backcolor-button: rgb(0, 122, 204);
    --backcolor-button-highlight: rgb(0, 98, 163);
    --backcolor-button-disabled: rgb(243, 243, 243);
    
    --fg-draw-analysis-result: rgb(0, 120, 0);
    --fg-draw-error: rgb(255, 0, 0);
    --bg-draw-item: rgb(240, 240, 240);
    --bg-draw-selected-item: rgb(221, 0, 0);

    --bg-emph: rgb(44, 44, 44);
    --fg-emph: rgb(128, 128, 128);

    --fg-explorer: rgb(97, 97, 97);
    --bg-explorer: rgb(243, 243, 243);

    --fg-statusbar: rgb(255, 255, 255);
    --bg-statusbar: rgb(0, 122, 204);
}

body,
html,
#app {
    font-family: RobotoCondensed;
    height: 100%;
    width: 100%;
    margin: 0;
    user-select: none;
}

hr {
    margin: 0;
}

.w3-button {
    cursor: default;
}
.w3-button:disabled {
    cursor: default;
    background-color: var(--backcolor-button-disabled);
}

button {
    border-radius: 0px;
    border: 0px;
    /*background-color: var(--backcolor-button);*/
    color: var(--color-button);
    cursor: default;
}

button:hover {
    background-color: var(--backcolor-button-highlight);
}

button:disabled {
    background-color: var(--backcolor-button-disabled);
    cursor: default;
}

.icon {
    width: 1em;
    height: 1em;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.nonWrappedText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.drawElement {
    color: black;
    background: rgb(240, 240, 240);
    margin: 0px;
    border: 2px solid black;
    padding: 0px;
    overflow: hidden;
}

.drawEditButton {
    background: rgba(0, 0, 0, 0);
}

.drawEditButton:hover {
    background: rgba(0, 0, 0, 0);
    filter: invert(50%);
}

.errorMessage {
    color: var(--fg-draw-error);
    font-size: 0.85rem;
}

.errorMarker {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--fg-draw-error);
}

.drawElementTitle {
    text-align: center;
    font-weight: bold;
    color: var(--bg-draw-item);
    background-color: black;
    font-size: 1.1rem;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.drawElementNameLabel {
    font-weight: bold;
    padding-top: 4px;
    padding-left: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.drawElementNameEdit {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.drawAnalysisResults {
    color: var(--fg-draw-analysis-result);
    font-size: 0.75rem;
    padding-left: 10px;
}
.drawElementLabel {
    font-weight: bold;
    padding-left: 10px;
}
.drawElementEdit { 
    padding-left: 10px;
    padding-right: 10px;
}
.drawElementBottom { 
    padding-left: 10px;
    padding-right: 10px;
}