<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="interface" ref="interface">
     <div id="outercontainer" ref="outercontainer" :style="getOuterContainerStype()">
        <div v-if="isEditable" id="innercontainer" :style="getInnerContainerStyle()" :class="isEditable ? 'drawElement' : ''">
            <label id="title" class="drawElementTitle">{{ title }}</label>
            <label id="nameLabel" class="drawElementNameLabel">Name:</label>
            <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>
            <label id="interfaceLabel" class="drawElementLabel">Interface:</label>
            <DrawTextEdit id="interfaceEdit" class="drawElementEdit" :element="element" :propertyName="'interface'"></DrawTextEdit> 
            <label id="environmentHostLabel" class="drawElementLabel" v-if="hasEnvironmentHost">Environment Host:</label>
            <DrawTextEdit id="environmentHostEdit" class="drawElementEdit" v-if="hasEnvironmentHost" :element="element" :propertyName="'environmentHost'"></DrawTextEdit>
            <label id="environmentPortLabel" class="drawElementLabel" v-if="hasEnvironmentPort">Environment Port:</label>
            <DrawTextEdit id="environmentPortEdit" class="drawElementEdit"  v-if="hasEnvironmentPort" :element="element" :propertyName="'environmentPort'"></DrawTextEdit>
            <label id="requiredLabel" class="drawElementLabel" v-if="isImport">Required:</label>
            <input id="requiredEdit" class="drawElementEdit" v-if="isImport" type="checkbox" v-model="required">
        </div>
        <div v-else id="innercontainer">
            <span>{{ element.name }}</span>
        </div>
     </div>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';
export default {
    name: "DrawImportExport",
    props: ["element", 'editable'],
    data() {
        return {
            required: this.element.required,
            isMounted: false
        }
    },
    watch: {
        required(newValue, oldValue) {
            if (oldValue !== newValue) {
                this.$store.commit('updateElement', {
                    element: this.element,
                    property: 'required',
                    value: this.required,
                });
            }
        }
    },
    computed: {
        title() {
            return this.element.type === 'import' ? 'Import' : 'Export';
        },
        isImport() {
            return this.element.type === 'import'
        },
        isEditable() {
            return ['component', 'service', 'system'].includes(this.element.parent.type);
        },
        hasEnvironmentHost() {
            return this.element.type === 'import' && this.element.parent.type === 'component'
        },
        hasEnvironmentPort() {
            return this.element.parent.type === 'component'
        }
    },
    mounted() {
        this.isMounted = true;
        setTimeout(() => {this.$forceUpdate()}, 1);
    },
    methods: {
        getOuterContainerStype() {
            // cannot access clientWidth and clientHeight properties before component is mounted
            if (!this.isMounted) {
                return {};
            }
          
            const parent = this.element.parent;
            const center = {
                x: this.element.left + this.element.width / 2,
                y: this.element.top + this.element.height / 2
            }
            const diffLeft = Math.abs(center.x - parent.left);
            const diffRight =  Math.abs(center.x - (parent.left + parent.width));
            const diffTop = Math.abs(center.y - parent.top);
            const diffBottom = Math.abs(center.y - (parent.top + parent.height));
            const minimalDiffHorizontal = Math.min(diffLeft, diffRight);
            const minimalDiffVertical = Math.min(diffTop, diffBottom);
            const connectorWidth = this.$refs.interface.clientWidth;
            const connectorHeight = this.$refs.interface.clientHeight;
            const editWidth = this.$refs.outercontainer.clientWidth;
            const editHeight = this.$refs.outercontainer.clientHeight;
            const properties = {};           
            properties['position'] = 'absolute';            
            if (this.isEditable) {
                properties['width'] = '300px';
                if (minimalDiffVertical < minimalDiffHorizontal)  {
                    properties['left'] = -editWidth / 2 + connectorWidth / 2 + 'px';
                    if (diffTop <= diffBottom) {
                        properties['top'] = -editHeight - connectorHeight + 'px';
                    } else {
                        properties['top'] = 2 * connectorWidth + 'px';
                    }
                } else {
                    properties['top'] = -editHeight / 2 + connectorHeight / 2 + 'px';
                    if (diffLeft < diffRight) {
                        properties['left'] = -editWidth - connectorWidth + 'px';
                    } else {
                        properties['left'] = 2 * connectorHeight + 'px';
                    }
                }
            } else {
                if (minimalDiffVertical < minimalDiffHorizontal)  {
                    properties['left'] = -editWidth - connectorWidth / 8 + 'px';
                    if (diffTop <= diffBottom) {
                        properties['top'] = -editHeight + 'px';
                    } else {
                        properties['top'] = connectorWidth + 'px';
                    }
                } else {
                    properties['top'] = -editHeight + connectorWidth / 2 + 'px';
                    if (diffLeft < diffRight) {
                        properties['left'] = -editWidth - connectorWidth / 2 + 'px';
                    } else {
                        properties['left'] = 1.5 * connectorHeight + 'px';
                    }
                }
            }


            return properties;
        },
        getInnerContainerStyle() {
            const properties = {};   
            if (this.isEditable) {
                properties['height'] = 'fit-content';
                properties['display'] = 'grid';
                properties['grid-template-columns'] = 'max-content 1fr';
                properties['grid-template-rows'] = 'max-content max-content max-content max-content max-content';
                properties['grid-template-areas'] = '"title title" "nameLabel nameEdit" "interfaceLabel interfaceEdit"'
                                                 + (this.isImport ? '"environmentHostLabel environmentHostEdit"' : '')
                                                 + '"environmentPortLabel environmentPortEdit"'
                                                 + (this.isImport ? '"requiredLabel requiredEdit"' : '');
            } else {
                properties['display'] = 'grid';
                properties['justify-content'] = 'end';
                properties['grid-template-columns'] = '1fr';
                properties['grid-template-rows'] = 'max-content max-content';
                
            }
            return properties;
        }
    },
    components: { DrawTextEdit }    
}
</script>

<style scoped>
    #interface {
        color:  black;
        background: rgb(240, 240, 240);
        margin:   0px;
        border:   2px solid black;
        position: absolute;
        z-index:  1;
        overflow: visible;
    }
    #title { grid-area: title; }
    #nameLabel { grid-area: nameLabel; }
    #nameEdit { grid-area: nameEdit; }
    #interfaceLabel { grid-area: interfaceLabel; }
    #interfaceEdit { grid-area: interfaceEdit; }
    #environmentHostLabel { grid-area: environmentHostLabel; }
    #environmentHostEdit { grid-area: environmentHostEdit; }
    #environmentPortLabel { grid-area: environmentPortLabel; }
    #environmentPortEdit { grid-area: environmentPortEdit; }
    #requiredLabel { grid-area: requiredLabel; }
    #requiredEdit { grid-area: requiredEdit; width:1rem; }
</style>
