<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="environment" class="drawElement" ref="environment">
        <label id="title" class="drawElementTitle">Environment</label>
        <label id="nameLabel" class="drawElementNameLabel">Name:</label>
        <label id="activeLabel" class="drawElementLabel" >Active:</label>
        <input id="activeEdit" class="drawElementEdit" type="checkbox" v-model="active">
        <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>    
        <label id="resourceLabel" class="drawElementLabel">Resource:</label>
        <DrawTextEdit id="resourceEdit" class="drawElementEdit" :element="element" :propertyName="'resource'"/>
        <div id="innerEnvironment" ref="innerEnvironment">
    </div>
</div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';

export default {
    name: 'DrawEnvironment',
    components: { DrawTextEdit },
    data() {
        return {
            active: this.element.active,
            resizeObserver: null
        }
    },
    props: [ 'element' ],
    watch: {
        active(newValue, oldValue) {
            if (oldValue !== newValue) {
                this.$store.commit('updateElement', {
                    element: this.element,
                    property: 'active',
                    value: this.active,
                });
            }
        }
    },
    mounted() {
        this.resizeObserver = new ResizeObserver(this.updateChildArea);
        this.resizeObserver.observe(this.$refs.environment);
        this.updateChildArea();
    },
    unmounted() {
        this.resizeObserver.disconnect();
    },
    methods: {
        updateChildArea() {
            let rect1 = this.$refs.environment.getBoundingClientRect();
            let rect2 = this.$refs.innerEnvironment.getBoundingClientRect();
            this.$store.commit('updateChildArea', {
                element: this.element,
                childArea: {
                    left: this.element.left + rect2.left - rect1.left,
                    top: this.element.top + rect2.top  - rect1.top,
                    width: this.$refs.innerEnvironment.offsetWidth,
                    height: this.$refs.innerEnvironment.offsetHeight
                }
            });
        },
        getChildOffset() {
            let rect1 = this.$refs.environment.getBoundingClientRect();
            let rect2 = this.$refs.innerEnvironment.getBoundingClientRect();
            return {
                left: rect2.left - rect1.left,
                top:  rect2.top  - rect1.top
            }
        },
        getSize() {
            return {
                width: this.$refs.innerEnvironment.offsetWidth,
                height: this.$refs.innerEnvironment.offsetHeight
            }
        }
    }
}
</script>

<style scoped>
    #environment {
        position: absolute;
        z-index:  1;
        user-select: none;
        overflow: hidden;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content 1fr;
        grid-template-areas: "title title"
                             "nameLabel nameEdit"
                             "activeLabel activeEdit"
                             "resourceLabel resourceEdit"
                             "innerEnvironment innerEnvironment";
    }
    #title           { grid-area: title; }
    #nameLabel       { grid-area: nameLabel; }
    #nameEdit        { grid-area: nameEdit; }
    #activeLabel     { grid-area: activeLabel; }
    #activeEdit      { grid-area: activeEdit; width:1rem; }
    #resourceLabel   { grid-area: resourceLabel; }
    #resourceEdit    { grid-area: resourceEdit; }
    #innerEnvironment {
        grid-area: innerEnvironment;
        background-color:white;
        position:relative;
        margin: 10px;
    }
</style>
