<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div>
        <div id="drawTextEdit">
            <div id="text">
                <div id="show" v-if="!enabled" class="nonWrappedText" :class="{ 'errorMarker': getError(propertyName) !== null }"
                    @dblclick.stop="enable()">
                     <slot></slot><span>{{ element[propertyName] }}</span>
                </div>
                <input id="edit" v-else ref="edit" v-model="value"
                    @focusout.stop="disable()"
                    @blur="disable()"
                    @keypress.enter.stop="disable()">
            </div>
            <div id="error" class="errorMessage" :style="getErrorStyle()">{{ getError(propertyName) }}</div>
            <button v-if="!noedit" id="edit" class="drawEditButton"
                @mousedown.stop=""
                @click.stop="enable()">
                <img class="icon" draggable="false" src="icons/icon_edit.png">
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DrawTextEdit',
    data() {
        return {
            enabled: false,
            value: ''
        };
    },
    props: [ 'element', 'propertyName', 'noedit', 'nostore' ],
    methods: {
        getError(propertyName) {
            const errors = this.$store.state.errors;
            const elementPath = [];
            // get path upto this element
            let currentElement = this.element;
            do {
                elementPath.unshift(currentElement);
                currentElement = currentElement.parent;
            } while (currentElement !== null);

            // find first error
            let foundError = null;
            for(const error of errors) {                
                 if (error.elementInfo.name === elementPath[0].name && error.elementInfo.type === elementPath[0].type && error.property === propertyName) {
                    let index = 1;
                    let elementInfo = error.elementInfo.child;
                    let valid = true;
                    while (elementInfo !== null && index != elementPath.length) {
                        if (elementInfo.name !== elementPath[index].name || elementInfo.type !== elementPath[index].type) {
                            valid = false;
                            break;
                        }
                        elementInfo = elementInfo.child;
                        ++index;
                    }
                    if (valid) {
                        foundError = error;
                    }
                }
            }
            
            return foundError !== null ? foundError.message : null;
        },
        enable() {
            if (this.noedit) {
                return;
            }
            if (!this.enabled) {
                this.enabled = true;
                this.value = this.element[this.propertyName];
                this.$nextTick(() => { this.$refs.edit.focus(); });
            }
        },
        disable() {
            if (this.nostore) {
                const reference = this.element;
                reference[this.propertyName] = this.value;
            } else {
                this.$store.commit('updateElement', {
                    element: this.element,
                    property: this.propertyName,
                    value: this.value
                });
            }
            this.enabled = false;
        },
        getErrorStyle() {
            const properties = {};
            return properties;
        }
    }
}
</script>

<style scoped>
    #drawTextEdit {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows:    max-content max-content;
        grid-template-areas:   "name edit"
                               "error .";
    }
    #edit { width: 100%; user-select: text; }
    #text  { grid-area: name;}
    #error { grid-area: error;}
</style>
