<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="component" class="drawElement">
        <label id="title" class="drawElementTitle">Component</label>
        <label id="nameLabel" class="drawElementNameLabel">Name:</label>
        <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>
        <label id="imageLabel" class="drawElementLabel">Image:</label>
        <DrawTextEdit id="imageEdit" class="drawElementEdit" :element="element" :propertyName="'image'"/>
        <label id="typeLabel" class="drawElementLabel">Type:</label>
        <div id="typeEdit" class="drawElementEdit">
        <select value="">
            <option value="">select one</option>
            <option value="stateless">stateless</option>
            <option value="statefull">stateful</option>
            <option value="storage">storage</option>
        </select>
        </div>
        <label id="environmentLabel" class="drawElementLabel">Environment:</label>
        <div id="environmentList" class="drawElementEdit" :style="getEnvironmentListStyle()">
            <div id="envListHeaderVariable">Variable</div>
            <div id="envListHeaderContents">Content</div>
            <div></div>
            <template v-for="environmentVariable of element.environmentVariables" :key="environmentVariable">
                <DrawTextEdit id="" :element="environmentVariable" :propertyName="'name'"/>
                <DrawTextEdit id="" :element="environmentVariable" :propertyName="'value'"/>
                <button @click="remove(environmentVariable)">Remove</button>
            </template>
            <div></div>
            <div></div>
            <button @click="add()">Add</button>
        </div>
        <label id="availabilityLabel" class="drawElementLabel">Availability:</label>
        <DrawTextEdit id="availabilityEdit" class="drawElementEdit" :element="element" :propertyName="'availability'"/>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';
export default {
    name: 'DrawComponent',
    components: { DrawTextEdit },
    props: [ 'element' ],
    methods: {
        add() {
            if (!this.element.environment) {
                this.$store.commit('newElement', {
                    parent: this.element,
                    type: 'environmentVariable'
                });
            }
        },
        remove(environmentVariable) {
            this.$store.commit('deleteElement', {
                element: environmentVariable
            });
        },
        getEnvironmentListStyle() {            
            const rows = this.element.environmentVariables ? this.element.environmentVariables.size + 1 : 1;
            const properties = {};
            properties['grid-template-rows'] = 'repeat(' + rows + ', 1fr)';
            return properties;
        }
    }
}
</script>

<style scoped>
    #component {
        position: absolute;
        z-index:  1;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content max-content max-content max-content;
        grid-template-areas: "title title"
                             "nameLabel nameEdit"
                             "imageLabel imageEdit"
                             "typeLabel typEdit"
                             "environmentLabel environmentList"
                             "availabilityLabel availabilityEdit";
    }
    #title { grid-area: title; }
    #nameLabel { grid-area: nameLabel; }
    #nameEdit { grid-area: nameEdit; }
    #imageLabel { grid-area: imageLabel; }
    #imageEdit { grid-area: imageEdit; }
    #environmentLabel { grid-area: environmentLabel; }
    #environmentList {
        display: grid;
        grid-template-columns: 1fr 1fr max-content;
        grid-template-rows: max-content;
    }
    #envListHeaderVariable {
        border-bottom: 2px solid black;
    }
    #envListHeaderContents {
        padding-left: 10px;
        border-bottom: 2px solid black;
    }
    #availabilityLabel { grid-area: availabilityLabel; }
    #availabilityEdit { grid-area: availabilityEdit; }
</style>

