<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div :style="getStyle()" id="connection">
        <div class="line" :key="line" :style="getLineStyle(line)" v-for="line of getLines"></div>
    </div>
</template>

<script>
export default {
    name: 'DrawConnection',
    props: [ 'element' ],
    computed: {
        getLines() {
            const isHorizontal = Math.abs(this.element.fromX - this.element.toX) > Math.abs(this.element.fromY - this.element.toY);
            const line1 = {
                x1: this.element.fromX,
                y1: this.element.fromY,
                x2: this.element.fromX + (isHorizontal? (this.element.toX - this.element.fromX) / 2 : 0),
                y2: this.element.fromY + (!isHorizontal? (this.element.toY - this.element.fromY) / 2 : 0)
            }
            const line3 = {
                x1: this.element.toX - (isHorizontal? (this.element.toX - this.element.fromX) / 2 : 0),
                y1: this.element.toY - (!isHorizontal? (this.element.toY - this.element.fromY) / 2 : 0),
                x2: this.element.toX,
                y2: this.element.toY
            }
            const line2 = {
                x1: line1.x2,
                y1: line1.y2,
                x2: line3.x1,
                y2: line3.y1
            }
            return [line1, line2, line3];
        },
    },
    methods: {
        getStyle() {
            const dimensions = {                
                left: this.element.left + "px",
                top: this.element.top + "px",
                width: this.element.width + "px",
                height: this.element.height + "px",
            };
            return dimensions;
        },        
        getLineStyle(line) {
            return {
                left: Math.min(line.x1, line.x2) - this.element.left + "px",
                top: Math.min(line.y2, line.y1) - this.element.top + "px",
                width: Math.max(Math.abs(line.x2 - line.x1), 2) + "px",
                height: Math.max(Math.abs(line.y2 - line.y1), 2) + "px"
            }
        },
    }
}
</script>

<style scoped>
    #connection {
        position: absolute;
        z-index:  1;
        overflow: visible;
    }
    .line {
        background: black;
        position: absolute;
    }
</style>
