<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="element" class="drawElement" ref="instance">
        <label id="title" class="drawElementTitle">Instance</label>
        <label id="nameLabel" class="drawElementNameLabel">Name:</label>
        <div id="analysisResults" class="drawAnalysisResults">
            Avail. (est): {{ getAvailability() }} | Req. (act): {{ getRequests() }}
        </div>
        <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'" :noedit="element.original !== null"/>
        <label id="definitionLabel" class="drawElementLabel">Definition:</label>
        <DrawTextEdit id="definitionEdit" class="drawElementEdit" :element="element" :propertyName="'definition'" :noedit="element.original !== null"/>
        <label id="definitionTypeLabel" class="drawElementLabel">Type:</label>
        <DrawTextEdit id="definitionTypeEdit" class="drawElementEdit" :element="element" :propertyName="'definitionType'" :noedit="element.original !== null"/>
        <label id="resourcesLabel" class="drawElementLabel">Resources:</label>
        <DrawTextEdit id="resourcesEdit" class="drawElementEdit" v-if="isPartOfEnvironment" :element="resources" :propertyName="'value'" :nostore="true"/>
        <div v-if="element.definitionType != 'component'" id="innerEnvironment" ref="innerEnvironment"></div>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';

export default {
    name: 'DrawComponentInstance',
    components: { DrawTextEdit },
    computed: {
        environment() {
            let current = this.element;
            while(current.parent != null) {
                current = current.parent;
            }
            return (current !== null && current.type === 'environment') ? current : null;
        },
        isPartOfEnvironment() {
            return this.environment != null;
        },
        elementPath() {
            let current = this.element;
            let path = '';
            while(current.parent != null) {
                path = '/' + current.name + path;
                current = current.parent;
            }
            return path;
        },
        resourceAssignment() {
            if (this.environment) {
                for (const resourceAssignment of this.environment.resourceAssignments) {
                    if (resourceAssignment.name === this.elementPath) {
                        return resourceAssignment;
                    }
                }
            }
            return null;
        },
        fullPath() {
            let path = this.element.name;
            let current = this.element;
            while (current.parent !== null) {
                current = current.parent;
                path = current.name + '.' + path;
            }
            return path;
        }
    },
    data() {
        return {
            resizeObserver: null,
            resources: {
                parent: null,
                value: ''
            }
        }
    },
    created() {
        if (this.resourceAssignment && this.resources) {
            this.resources.value = this.resourceAssignment.value;
        }
    },
    watch: {
        'resources.value'(newValue, oldValue) {
            if (newValue !== oldValue) {
                if (newValue !== '') {
                    if (this.resourceAssignment === null) {
                        this.$store.commit('newElement', {
                            type: 'resourceAssignment',
                            parent: this.environment,
                            properties: {
                                name: this.elementPath,
                                value: newValue
                            }
                        });
                    } else {
                        this.resourceAssignment.value = newValue;
                    }
                } else {
                    if (this.resourceAssignment !== null) {
                        this.$store.commit('deleteElement', {
                            element: this.resourceAssignment
                        });
                    }
                }
            }
        }
    },
    props: [ 'element', 'editable' ],
    mounted() {
        this.resizeObserver = new ResizeObserver(this.updateChildArea);
        this.resizeObserver.observe(this.$refs.instance);
        this.updateChildArea();
    },
    unmounted() {
        this.resizeObserver.disconnect();
    },
    methods: {
        updateChildArea() {
            if (this.$refs.innerEnvironment) {
                let rect1 = this.$refs.instance.getBoundingClientRect();
                let rect2 = this.$refs.innerEnvironment.getBoundingClientRect();
                this.$store.commit('updateChildArea', {
                    element: this.element,
                    childArea: {
                        left: this.element.left + rect2.left - rect1.left,
                        top: this.element.top + rect2.top  - rect1.top,
                        width: this.$refs.innerEnvironment.offsetWidth,
                        height: this.$refs.innerEnvironment.offsetHeight
                    }
                });
            }
        },
        getChildOffset() {
            let rect1 = this.$refs.innerEnvironment.getBoundingClientRect();
            let rect2 = this.$refs.innerEnvironment.getBoundingClientRect();
            return {
                left: rect2.left - rect1.left,
                top:  rect2.top  - rect1.top
            }
        },
        getSize() {
            return {
                width: this.$refs.innerEnvironment.offsetWidth,
                height: this.$refs.innerEnvironment.offsetHeight
            }
        },
        getAvailability() {
            if (this.$store.state.stats[this.fullPath] && this.$store.state.stats[this.fullPath].availability) {
                return this.$store.state.stats[this.fullPath].availability.toFixed(4);
            } else {
                return 'n/a';
            }
        },
        getRequests() {
            if (this.$store.state.stats[this.fullPath] && this.$store.state.stats[this.fullPath].requests) {
                return this.$store.state.stats[this.fullPath].requests;
            } else {
                return 'n/a';
            }
        }
    }
}
</script>

<style scoped>
    #element {
        position: absolute;
        z-index:  1;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content max-content max-content max-content 1fr;
        grid-template-areas: "title title"
                             "nameLabel nameEdit"
                             "analysisResults analysisResults"
                             "definitionLabel definitionEdit"
                             "definitionTypeLabel definitionTypeEdit"
                             "resourcesTypeLabel resourcesTypeEdit"
                             "innerEnvironment innerEnvironment";
    }
    #title               { grid-area: title; }
    #nameLabel           { grid-area: nameLabel; }
    #nameEdit            { grid-area: nameEdit; }
    #analysisResults     { grid-area: analysisResults; }
    #definitionLabel     { grid-area: definitionLabel; }
    #definitionEdit      { grid-area: definitionEdit; }
    #definitionTypeLabel { grid-area: definitionTypeLabel; }
    #definitionTypeEdit  { grid-area: definitionTypeEdit; }
    #resourcesTypeLabel  { grid-area: resourcesTypeLabel; }
    #resourcesTypeEdit   { grid-area: resourcesTypeEdit; }
    #innerEnvironment {
        grid-area: innerEnvironment;
        background-color:white;
        position:relative;
        margin: 10px;
    }
</style>
