<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="interface" ref="interface">
     <div id="outercontainer" ref="outercontainer" :style="getStyle()">
        <div id="innercontainer">
            <label id="title" class="drawElementTitle">Public Interface</label>
            <label id="nameLabel" class="drawElementNameLabel">Name:</label>
            <div id="analysisResults" class="drawAnalysisResults">
                Avail. (est): {{ this.getAvailability() }} | Req. (act): {{ this.getRequest() }}
            </div>
            <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>
            <label id="portLabel" class="drawElementLabel">Port:</label>
            <DrawTextEdit id="portEdit" class="drawElementEdit" :element="element" :propertyName="'port'"/>
            <label id="interfaceLabel" class="drawElementLabel">Interface:</label>
            <DrawTextEdit id="interfaceEdit" class="drawElementEdit" :element="element" :propertyName="'interface'"/>
        </div>
     </div>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';
export default {
    name: "DrawImportExport",
    props: ["element"],
    data() {
        return {
            isMounted: false
        }
    },
    mounted() {
        this.isMounted = true;
    },
    computed: {
        fullPath() {
            let path = this.element.name;
            let current = this.element;
            while (current.parent !== null) {
                current = current.parent;
                path = current.name + '.' + path;
            }
            return path;
        }
    },
    methods: {
        getStyle() {
            // cannot access clientWidth and clientHeight properties before component is mounted
            if (!this.isMounted) {
                return {};
            }
          
            const parent = this.element.parent;
            const center = {
                x: this.element.left + this.element.width / 2,
                y: this.element.top + this.element.height / 2
            }
            const diffLeft = Math.abs(center.x - parent.left);
            const diffRight =  Math.abs(center.x - (parent.left + parent.width));
            const diffTop = Math.abs(center.y - parent.top);
            const diffBottom = Math.abs(center.y - (parent.top + parent.height));
            const minimalDiffHorizontal = Math.min(diffLeft, diffRight);
            const minimalDiffVertical = Math.min(diffTop, diffBottom);
            const connectorWidth = this.$refs.interface.clientWidth;
            const connectorHeight = this.$refs.interface.clientHeight;
            const editWidth = this.$refs.outercontainer.clientWidth;
            const editHeight = this.$refs.outercontainer.clientHeight;        
            const properties = {};                 
            if (minimalDiffVertical < minimalDiffHorizontal)  {
                properties['left'] = -editWidth / 2 + connectorWidth / 2 + 'px';
                if (diffTop <= diffBottom) {
                    properties['top'] = -editHeight - connectorHeight + 'px';
                } else {
                    properties['top'] = 2 * connectorWidth + 'px';
                }
            } else {
                properties['top'] = -editHeight / 2 + connectorHeight / 2 + 'px';
                if (diffLeft < diffRight) {
                    properties['left'] = -editWidth - connectorWidth + 'px';
                } else {
                    properties['left'] = 2 * connectorHeight + 'px';
                }
            }
   
            return properties;
        },
        getAvailability() {
            if (this.$store.state.stats[this.fullPath] && this.$store.state.stats[this.fullPath].availability) {
                return this.$store.state.stats[this.fullPath].availability.toFixed(4);
            } else {
                return 'n/a';
            }
        },
        getRequest() {
            if (this.$store.state.stats[this.fullPath] && this.$store.state.stats[this.fullPath].requests) {
                return this.$store.state.stats[this.fullPath].requests;
            } else {
                return 'n/a';
            }
        }
    },
    components: { DrawTextEdit }    
}
</script>

<style scoped>
    #interface {
        color:  black;
        background: rgb(240, 240, 240);
        border:   2px solid black;
        position: absolute;
        z-index:  1;
        overflow: visible;
    }
    #outercontainer {
        position: absolute;
        width:   300px;
    }
    #innercontainer {
        height:   fit-content;
        border:   2px solid black;
        background: rgb(240, 240, 240);
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content max-content max-content;
        grid-template-areas: "title title"
                             "nameLabel nameEdit"
                             "analysisResults analysisResults"
                             "portLabel portEdit"
                             "interfaceLabel interfaceEdit";
    }
    #title { grid-area: title; }
    #nameLabel { grid-area: nameLabel; }
    #nameEdit { grid-area: nameEdit; }    
    #analysisResults { grid-area: analysisResults; }
    #portLabel { grid-area: portLabel; }
    #portEdit { grid-area: portEdit; }
    #interfaceLabel { grid-area: interfaceLabel; }
    #interfaceEdit { grid-area: interfaceEdit; }
</style>
