<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="system" class="drawElement" ref="system">
        <label id="title" class="drawElementTitle">System</label>
        <label id="nameLabel" class="drawElementNameLabel">Name:</label>
        <DrawTextEdit id="name" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>
        <div id="innerSystem" ref="innerSystem">
        </div>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';

export default {
    name: 'DrawSystem',
    components: { DrawTextEdit },
    data() {
        return {
            resizeObserver: null
        }
    },
    props: [ 'element' ],
    mounted() {
        this.resizeObserver = new ResizeObserver(this.updateChildArea);
        this.resizeObserver.observe(this.$refs.system);
        this.updateChildArea();
    },
    unmounted() {
        this.resizeObserver.disconnect();
    },
    methods: {
        updateChildArea() {
            let rect1 = this.$refs.system.getBoundingClientRect();
            let rect2 = this.$refs.innerSystem.getBoundingClientRect();
            this.$store.commit('updateChildArea', {
                element: this.element,
                childArea: {
                    left: this.element.left + rect2.left - rect1.left,
                    top: this.element.top + rect2.top  - rect1.top,
                    width: this.$refs.innerSystem.offsetWidth,
                    height: this.$refs.innerSystem.offsetHeight
                }
            });
        },
        getChildOffset() {
            let rect1 = this.$refs.system.getBoundingClientRect();
            let rect2 = this.$refs.innerSystem.getBoundingClientRect();
            return {
                left: rect2.left - rect1.left,
                top:  rect2.top  - rect1.top
            }
        },
        getSize() {
            return {
                width: this.$refs.innerSystem.offsetWidth,
                height: this.$refs.innerSystem.offsetHeight
            }
        }
    }
}
</script>

<style scoped>
    #system {
        position: absolute;
        z-index:  1;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows:    max-content max-content 1fr;
        grid-template-areas:   "title title"
                               "nameLabel nameEdit"
                               "innerSystem innerSystem";
    }
    #title { grid-area: title; }
    #nameLabel { grid-area: nameLabel; }
    #nameEdit { grid-area: nameEdit; }
    #innerSystem {
        grid-area: innerSystem;
        background-color:white;
        position:relative;
        margin:10px;
    }
</style>
