<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div id="service" class="drawElement">
        <label id="title" class="drawElementTitle">Service</label>
        <label id="nameLabel" class="drawElementNameLabel">Name:</label>
        <DrawTextEdit id="nameEdit" class="drawElementNameEdit" :element="element" :propertyName="'name'"/>
        <label id="urlLabel" class="drawElementLabel">URL:</label>
        <DrawTextEdit id="urlEdit" class="drawElementEdit" :element="element" :propertyName="'url'"/>
    </div>
</template>

<script>
import DrawTextEdit from './DrawTextEdit.vue';

export default {
    name: 'DrawService',
    components: { DrawTextEdit },
    props: [ 'element' ],
}
</script>

<style scoped>
    #service {
        position: absolute;
        z-index:  1;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas: "title title"
                             "nameLabel nameEdit"
                             "urlLabel urlEdit"
                             "runtimeTypeLabel runtimeTypeEdit"
                             "keyLabel keyEdit";
    }
    #title { grid-area: title; }
    #nameLabel { grid-area: nameLabel; }
    #nameEdit { grid-area: nameEdit; }
    #urlLabel { grid-area: urlLabel; }
    #urlEdit { grid-area: urlEdit; }
</style>
