<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- built files will be auto injected -->
    <div id="app"></div>
  </body>
</html>

