<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div class="w3-modal w3-show">
        <div class="w3-modal-content" style="max-width:600px">
            <header class="w3-bar">
                <span class="w3-bar-item"><b>Edit Project Properties</b></span>
                <span class="w3-button w3-right w3-mobile" @click="close()">&times;</span>
            </header>
            <main class="w3-container">
                <section class="w3-row w3-section">
                    <label for="name" class="w3-col m3">Name:</label>
                    <input id="name" v-model="name" class="w3-col m9">
                </section>
                <section class="w3-row w3-section">
                    <label for="description" class="w3-col m3">Description:</label>
                    <textarea id="description" v-model="description" class="w3-col m9"></textarea>
                </section>
                <section class="w3-row w3-section">
                    <label for="owners" class="w3-col m3">Owners:</label>
                </section>
            </main>
            <footer class="w3-container">
                <section class="w3-row w3-section">
                    <button class="w3-button w3-right m2 w3-orange" @click="open()">Apply</button>
                    <button class="w3-button w3-left m2 w3-green" @click="close()">Cancel</button>
                </section>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProjectEditPropertiesDialog',
    props: [ 'show' ],
    emits: [ 'close' ],
    data() {
        return {
            name: this.$store.state.project.name,
            description: this.$store.state.project.description            
        }
    },
    methods: {
        open() {
            this.$store.commit('modifyProject', { 
                name: this.name,
                description: this.description
            });
            this.$emit('close');
        },
        close() {
            this.$emit('close');
        }    
    }
}
</script>

<style scoped>
    #description { 
        height: 150px;
        resize: vertical;
    }
</style>
