<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div class="w3-modal w3-show">
        <div class="w3-modal-content" style="max-width:600px">
            <header class="w3-bar">
                <span class="w3-bar-item"><b>Open Project</b></span>
                <span class="w3-button w3-right w3-mobile" @click="close()">&times;</span>
            </header>
            <main class="w3-container">
                <section class="w3-row w3-section">
                    <label for="projects" class="w3-col"><b>Available Projects:</b></label>
                    <div id="scrollbox" class="w3-col w3-border">
                    <ul id="projects" class="w3-ul w3-hoverable">
                        <li v-for="project in projects" v-bind:key="project.id" class="w3-border-0" v-bind:class="{'w3-blue': selectedProject == project}" @click="selectedProject = project">
                            {{ project.name }}
                        </li>
                    </ul>
                    </div>
                </section>                    
            </main>
            <footer class="w3-container">
                <section v-if="processing" class="w3-bar w3-section">
                    <span class="w3-right" style="padding-left: 0.5em">Loading projects...</span><WaitSpin class="w3-right"/>
                </section>
                <section v-else class="w3-row w3-section">
                    <button class="w3-button w3-right m2 w3-orange" @click="open()" v-bind:disabled="selectedProject == null">Open Project</button>
                    <button class="w3-button w3-left m2 w3-green" @click="close()">Cancel</button>
                </section>
            </footer>
        </div>
    </div>
</template>

<script>
import storageApi from '../../api/storage';
import WaitSpin from '../WaitSpin.vue';
export default {
    name: 'ProjectOpenDialog',
    props: [ 'show' ],
    emits: [ 'project-set', 'close' ],
    components: {
        WaitSpin,
    },
    beforeMount() {
        this.processing = true;
        storageApi.getProjects().then(data => {
            this.projects = data;
            this.processing = false;
        })
        .catch(error => console.log(error));
    },
    data() {
        return {
            projects : [],
            selectedProject : null,
            processing: false
        }
    },
    methods: {
        open() {
            this.$store.commit('loadProject', { projectId: this.selectedProject.id });
            this.$emit('close');
        },
        close() {
            this.$emit('close');
        }    
    }
}
</script>

<style scoped>
    #scrollbox { height:300px; overflow-y: scroll };
</style>
