<!--
  -- Copyright 2022 Lucerne Applied University of Sciences / IoT S&S Research Group
  --
  -- Licensed under the Apache License, Version 2.0 (the "License");
  -- you may not use this file except in compliance with the License.
  -- You may obtain a copy of the License at
  -- 
  --     http://www.apache.org/licenses/LICENSE-2.0
  --
  -- Unless required by applicable law or agreed to in writing, software
  -- distributed under the License is distributed on an "AS IS" BASIS,
  -- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -- See the License for the specific language governing permissions and
  -- limitations under the License.
  -- 
  -->
<template>
    <div class="w3-modal w3-show">
        <div class="w3-modal-content" style="max-width:600px">
            <header class="w3-bar">
                <span class="w3-bar-item"><b>New Project Component</b></span>
                <span  v-bind:disabled = "processing" class="w3-button w3-right w3-mobile" @click="close()">&times;</span>
            </header>
            <main class="w3-container">
                <section class="w3-section">
                    <div class="w3-row w3-margin-bottom">
                        <label for="name" class="w3-col m3"><b>Name:</b></label>
                        <input v-model="name" v-bind:disabled = "processing" id="name" type="text" maxlength="200" required class="w3-col m9 w3-input w3-border">
                    </div>
                    <div class="w3-row w3-margin-bottom">
                        <label for="description" class="w3-col m3"><b>Description:</b></label>
                        <textarea v-model="description" v-bind:disabled = "processing" id="description" type="text" maxlength="4000" class="w3-col m9 w3-input w3-border"></textarea>
                    </div>
                </section>
            </main>
            <footer class="w3-container">
                <section v-if="processing" class="w3-bar w3-section">
                    <span class="w3-right" style="padding-left: 0.5em">Creating project...</span><WaitSpin class="w3-right"/>
                </section>
                <section v-else class="w3-bar w3-section">
                    <button class="w3-button w3-right w3-green w3-mobile" @click="createProject()">Create Project</button>
                    <button class="w3-button w3-left w3-orange w3-hide-small " @click="close()">Cancel</button>
                </section>
            </footer>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import WaitSpin from '../WaitSpin.vue';

export default {
    name: 'ProjectNewDialog',
    props: [ 'show' ],
    emits: [ 'close' ],
    components: {
        WaitSpin,
    },
    data() {
        return {
            name: '',
            description: '',
            processing: false
        }
    },
    computed: mapState(['project']),
    methods: {
        createProject() {
            const project = {
                name       : this.name,
                description: this.description
            };
            this.$store.commit('newProject', project);            
            this.$emit('close');
        },
        close() {
            this.$emit('close');
        }       
    }
}
</script>
<style scoped>
#description {
    resize: vertical;
}
</style>
